{% extends 'base.html' %}

{% block body_block %}
<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#img {
	width: 500px;
	height: 375px;
	background-color: #666;
}

.myCanvas{
       background-image: url("{{ url 'recognizer:login-with-face' }}"); 
}

</style>

<spacer type="vertical" width="1000" height="1000">  </spacer>
<div class='container-fluid'>

{% if messages %}


    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <b><center>{{ message }}</center> </b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


{% endif %}

<div >
<p>
{{ data }} {% if not user.image %} <a href="{% url 'recognizer:update-profile' pk=user.pk %}"> Update Profile {% else %}{% endif %}
<p>
</div>
<hr>

<div class='container-sm'>
{% if user.image %}
  <form method='POST' action="{% url 'recognizer:login-with-face' %}">
  {% csrf_token %}
  <input class='form-control btn btn-dark' type='submit' value='Recognize My Face' name='submit'>
  </form>
{% else %}{% endif %}
</div>


{% if request.POST %}

<div id='containercam'>
<div width="640px" height="480px" style="display:inline-block">
        <h1>Image</h1>
        <img id="img" src="{% url 'recognizer:login-with-face' %}">
    </div>

<div width="640px" height="480px" style="display:inline-block">
    <h1>Canvas</h1>
    <canvas id="canvas" width="640px" height="480px"></canvas>
</div>
</div>

{% comment %} <div id="container">
  <img id="videoElement" src="{% url 'recognizer:login-with-face' %}">
</div> {% endcomment %}
{% else %}
{% endif %}




{% if premium_data %}
<p>Previous Logins</p>
{% for data in premium_data %}

<ul class="list-group">
  <li class="list-group-item">Logged in on {{ data.login_date }}  |  {{ data.login_time }}</li>
  
{% endfor %}
</ul>
{% endif %}

{% if user.login_proceed %}
<a href='https://noteonhand.herokuapp.com'>ToDo site</a>
{% else %}{% endif %}

</div>


<script >

    var ctx = document.getElementById("canvas").getContext('2d');
    var img = new Image();
    img.src = "{% url 'recognizer:login-with-face' %}";

    // need only for static image
    //img.onload = function(){   
    //    ctx.drawImage(img, 0, 0);
    //};

    // need only for animated image
    function refreshCanvas(){
        ctx.drawImage(img, 0, 0);
    };
    window.setInterval("refreshCanvas()", 50);

</script>

{% endblock %}